# requirements.txt

# Rederence motions
mujoco-animator

# Training dependencies
ksim
xax
mujoco-scenes

# Inference dependencies
kinfer[jax]

# Jupyter Notebook dependencies
jupyter
ipykernel
pre-commit
